@model Comment;
@{
    ViewData["Title"] = "NewPage";
}

<div class="text-center">
    <h1 class="display-4">Hello World your New Page is ready and so happy to see you!!</h1>
</div>

@{/*<form asp-action="NewPage" asp-controller="Home" asp-method="post">
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" />
    </div>

    <div>
        <label asp-for="Content"></label>
        <input asp-for="Content" />
    </div>

    <button type="submit">Submit</button>

</form>*/}